@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
/* IMPORTO I FONT NECESSARI */
/* {
 outline: 2px solid red; 
}  comando per vedere se straborda */
body {
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  line-height: 1.5;
  padding-block: 1rem;
}
/* APPLICO I FONT AI RISPETTIVI CONTESTI */

header {
  background-color: black;
  padding: 1rem;
}

header img {
  width: 10%;
}
/* STILI HEADER (E LOGO)  */

section {
  text-align: center;
  box-sizing: border-box;
  padding: 16rem;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: top;
}

h1 {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  line-height: 1;
}

section button {
  color: white;
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  border: none;
  border-radius: 5px;
}

section p {
  padding-block: 1.5rem;
  font-size: 1.5rem;
}
/* STILIZZO LA NOSTRA SECTION E I SUOI CONTENUTI */

article {
  padding-block: 4rem;
}

article img {
  border-radius: 50%;
}

.box4,
.box5 {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: -webkit-baseline-middle;
  width: 49%;
  padding: 5rem;

  /* padding: 5rem; */
}

.box4 {
  padding: 10rem;
}
/* I DUE BLOCCHI NELL'ARTICLE */
/*IMPOSTO LA SEZIONE "ARTICLE" E RENDO LA FOTO TONDA E DI DIMENSIONI RICHIESTE */

.orangeBlock {
  text-align: center;
  padding: 5rem;
  background-color: #e22d0e;
  color: white;
  margin-bottom: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  color: white;
}
.italic {
  font-style: italic;
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
  padding-inline: 0.8rem;
}

.little {
  font-size: 0.8rem;
}
/* LA SEZIONE SOVRASTANTE FA RIFERIMENTO AL BLOCCO ARANCIONE NELLA PAGINA, IN PIU' TROVIAMO CLASSI PER CARATTERI RIUTILIZZABILI */

aside {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 4rem;
}
.box1,
.box2,
.box3 {
  box-sizing: border-box;
  display: inline-block;
  width: 31%;
  margin: 10px;
}

.cards > img {
  height: 40vh;
}
/* I 3 BLOCCHI NELL'ASIDE */

aside div {
  border: #dee1e3 solid 1px;
  border-radius: 5px;
}

aside div img {
  width: 100%;
}

aside p {
  padding-inline: 3rem;
  padding-bottom: 1rem;
}
/* QUI ABBIAMO DEFINITO LO STILE DELLE CARD E DEI PROPRI CONTENUTI */

footer {
  margin-top: 4rem;
  text-align: center;
  padding: 1rem;
  background-color: #25a2c3;
  padding-block: 4rem;
}

footer div {
  margin-inline: auto;
  width: 17%;
  text-align: start;
}
footer h2 {
  font-size: 3rem;
}

li,
footer a {
  list-style: none;
  color: white;
  opacity: 0.9;
}

footer hr {
  color: white;
  margin-block: 2rem;
  width: 16%;
  padding-right: 21px;

  /* margin-inline: 55rem; */
  opacity: 0.9;
}

footer p {
  color: white;
  font-size: 0.9rem;
  opacity: 0.8;
}
/* STILE DEL FOOTER E CONTENUTI */
