@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
/* IMPORTO I FONT NECESSARI */

body {
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  line-height: 1.5;
  padding-block: 1rem;
}
/* APPLICO I FONT AI RISPETTIVI CONTESTI */

header {
  background-color: black;
  padding: 2rem;
  text-align: center;
}

img {
  width: 50%;
}
/* STILI HEADER (E LOGO)  */

section {
  padding: 2rem;
  background-image: url(../images/banner.jpg);
  background-size: 150%;
  background-position: center;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  line-height: 1;
}

section button {
  color: white;
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 19px;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  border: none;
  border-radius: 5px;
}

section p {
  padding-block: 1.5rem;
}
/* STILIZZO LA NOSTRA SECTION E I SUOI CONTENUTI */

article {
  padding-block: 3rem;
  padding-inline: 1rem;
  text-align: center;
}

article img {
  padding-block: 1rem;
  width: 85%;
  height: 85%;
  border-radius: 50%;
}
/* IMPOSTO LA SEZIONE "ARTICLE" E RENDO LA FOTO TONDA E DI DIMENSIONI RICHIESTE */
div {
  padding: 2rem 0.85rem 1rem 0.85rem;
  text-align: center;
  background-color: #df2d12;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  padding-block: 1.5rem;
}
.italic {
  font-style: italic;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
}

.little {
  font-size: 0.8rem;
}
